            <div class="row"> 
                    <div class="col-auto mr-0 pr-0"> 
                        <label>@Label</label> 
                    </div> 
                    <div class="col-auto"> 
                        <p>@ChildContent</p> 
                    </div> 
                </div>

@code {
    [Parameter]
    public string Label { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}